html,
body {
    overflow-x: hidden;
    max-width: 100%;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #f5f5f5;
    font-family: "Philosopher", sans-serif;
}
.container {
    padding: 0;
    max-width: 420px;
    width: 100%;
    background: white;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.section-1 {
    border-image: linear-gradient(
            180deg,
            rgba(0, 75, 166, 0.85) 0%,
            rgba(150, 12, 148, 1) 100%
        )
        1;
    background: linear-gradient(
        180deg,
        rgba(0, 75, 166, 0.85) 0%,
        rgba(150, 12, 148, 1) 100%
    );
    padding: 10px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
}
.section-1 span {
    font-size: 23px;
    font-weight: bold;
}
.btn-buy {
    border-style: none;
    margin-left: 10px;
    padding: 8px 15px;
    background: rgba(223, 9, 130, 1);
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    font-size: 22px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn-buy:hover {
    background: #d6006b;
}

.text-block-css {
    font-size: 23px;
}

.banner {
    height: 216px;
    width: 100%;
    border-image: linear-gradient(
            180deg,
            rgba(166, 96, 0, 0.85) 0%,
            rgba(150, 21, 12, 1) 100%
        )
        1;
    border-radius: 32px;
    border-style: solid;
    border-width: 8px;
    background: rgba(255, 255, 255, 0.39); /* Nền mờ */
}

.banner img {
    background-size: cover; /* Hình ảnh phủ toàn bộ khung */
    background-position: center; /* Căn giữa hình ảnh */
    height: 100%;
    width: 100%;
}

.banner img:first-child {
    width: 70px;
    height: auto;
    top: 20px;
    left: -5px;
}

.banner-text {
    background: rgba(255, 255, 255, 0.6);
    border-style: solid;
    padding: 10px;
}

.banner-text .b-title {
    -webkit-text-stroke: 0px rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    font-family: "Philosopher", sans-serif;
    font-size: 41px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

.banner-text .b-description,
.banner-text .b-commit {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

#section-2 {
    min-height: 556px;
    background: rgba(139, 120, 120, 1);
    padding: 10px 20px;
}

#section-2 .s2-title h3 {
    font-size: 28px;
    font-weight: bold;
}

#section-2 .s2-video video {
    width: 100%;
}

#section-2 .btn-buy-now button {
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    background: rgba(245, 34, 45, 1);
    --type: 0;
    padding: 5px 25px;
    border-style: solid;
    border-color: rgba(229, 231, 235, 1);
    z-index: 10;
    position: relative;
}

#section-3 {
    padding: 20px;
    height: 700px;
    position: relative;
}

#section-3 .s3-background {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
#section-3 img.logo {
    top: 28px;
    left: 12px;
}

#section-3 .s3-rectangle img {
    width: 40%;
    position: relative;
    z-index: 10;
}

#section-3 .s3-count-order,
#section-3 .s3-count-commet {
    z-index: 10;
    position: relative;
    border-color: rgba(229, 231, 235, 1);
    color: rgba(255, 255, 255, 1);
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    text-align: center;
}

#section-3 .s3-date-time {
    z-index: 10;
    position: relative;
    margin-top: 20px;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.time-unit {
    text-align: center;
    margin: 0 10px;
    background-color: white; /* Màu nền */
    padding: 10px; /* Khoảng cách bên trong */
    border-radius: 10px; /* Bo góc */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Đổ bóng */
}

.label {
    font-size: 18px; /* Kích thước chữ cho nhãn */
    font-weight: bold; /* Đậm */
}

.value {
    font-size: 36px; /* Kích thước chữ cho giá trị */
    font-weight: bold; /* Đậm */
    color: black; /* Màu chữ */
}

#section-3 .s3-btn-buy-now button {
    margin-top: 25px;
    z-index: 10;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 1);
    font-family: "Arial", sans-serif;
    font-size: 22px;
    font-weight: bold;
    border: none;
    padding: 10px 50px;
    background: linear-gradient(
        180deg,
        rgba(150, 21, 12, 1) 0%,
        rgba(166, 96, 0, 0.85) 100%
    );
}

#section-3 .s3-info {
    text-align: start;
    padding: 0 0 0 50px;
    margin-top: 15px;
    z-index: 10;
    position: relative;
    color: rgba(255, 255, 255, 1);
    font-family: "Arial", sans-serif;
    font-size: 15px;
    line-height: 2;
}

#section-3 .s3-info p {
    margin-bottom: 3px;
}

#section-4 {
    background-color: rgba(104, 91, 67, 0.5);
}

#section-4 .s4-title {
    border-image: linear-gradient(
            180deg,
            rgba(166, 96, 0, 0.85) 0%,
            rgba(150, 21, 12, 1) 100%
        )
        1;
    border-radius: 32px;
    border-style: solid;
    border-width: 8px;
    background: rgba(255, 255, 255, 0.1);

    font-size: 22px;
    font-weight: bold;
    line-height: 1.2;
    padding: 10px 0;
}

.s4-slider .thumbnail-slider .swiper-slide {
    opacity: 0.5; /* Làm mờ mặc định */
    transition: opacity 0.3s ease-in-out;
}

.s4-slider .thumbnail-slider .swiper-slide.swiper-slide-thumb-active {
    opacity: 1; /* Làm sáng ảnh đang được chọn */
}

.s4-slider .main-slider img,
.thumbnail-slider img {
    width: 100%;
    height: auto;
}

.s4-slider .thumbnail-slider {
    margin-top: 10px;
}

.s4-slider .swiper-button-prev,
.s4-slider .swiper-button-next {
    width: 20px;
    height: 20px;
    filter: drop-shadow(0 0 1px black);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: small;
    color: white;
}

#section-5 {
    background-color: black;
}

.line-css {
    padding: 0 8px;
}

.line-container {
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 3px;
    border-left-width: 0 !important;
    border-right-width: 0 !important;
    border-bottom-width: 0 !important;
}

#section-5 .s5-btn-option-price {
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: bold;
    background: rgba(245, 34, 45, 0.75);
}

#section-5 .s5-title {
    font-size: 22px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

#section-5 .s5-content {
    font-size: 15px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

#section-5 .s5-image {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
}

#section-5 .s5-box {
    position: relative;
    width: 350px;
    height: 439px;
    overflow: hidden; /* Ẩn phần bị cắt */
}

#section-5 .s5-box img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Giữ tỷ lệ, ảnh luôn đầy khung */
}

#section-5 .s5-title-image {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    color: white;
    left: 30%;
    top: 10px;
}

#section-5 .s5-des {
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 20px 0;
}

#section-6 {
    padding: 10px;
}

#section-6 .s6-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Đảm bảo toàn bộ tiêu đề được căn giữa */
    text-align: center;
}

#section-6 .select-form {
    background: white;
}

#section-6 .s6-title h2 {
    padding: 10px;
    width: 55%;
    font-size: 25px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    line-height: 1.4;
}
#section-6 input::placeholder,
textarea::placeholder {
    font-size: 12px;
    font-weight: bold;
}

.form-select {
    width: 100%; /* Chiếm toàn bộ ô chứa */
    padding: 10px;
    font-size: 14px;
}

.form-select {
    font-weight: bold;
    font-size: 12px;
    border: none;
}

#section-6 .s6-btn-submit {
    padding: 10px 0;
    border-radius: 6px;
    background: rgba(199, 23, 12, 1);
}

#section-6 .s6-btn-submit button {
    border: none;
    background: none;
    color: rgba(255, 255, 255, 1);
    font-size: 25px;
    font-weight: bold;
}

#section-7 {
    padding: 10px;
    background: rgba(255, 248, 248, 1);
}

#section-7 .s7-title h1 {
    background: linear-gradient(
        180deg,
        rgba(150, 21, 12, 1) 0%,
        rgba(166, 96, 0, 0.85) 99%
    );
    -webkit-background-clip: text; /* Chỉ áp dụng gradient lên chữ */
    -webkit-text-fill-color: transparent; /* Ẩn màu mặc định, hiển thị gradient */
    font-family: "Tinos", sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

#section-7 .s7-des {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: normal;
    color: rgba(0, 0, 0, 1);
}

#section-7 .s7-header p {
    color: rgba(60, 60, 60, 1);
    font-size: 15px;
    font-weight: bold;
}

#section-8 {
    padding: 30px 0 30px 30px;
    background: rgba(237, 237, 237, 1);
}
.row i {
    min-width: 60px;
}

.footer {
    padding: 10px 20px;
    background: linear-gradient(to bottom, #a02c1f, #cf6e28);
    color: white;
    text-align: center;
}

.footer-logo {
    max-width: 200px; /* Điều chỉnh kích thước logo */
    background: white; /* Nền trắng */
    padding: 10px; /* Tạo khoảng cách giữa ảnh và viền */
}

.footer a {
    text-decoration: none;
    /* font-weight: bold; */
}

.footer i {
    font-size: 1.2rem;
    color: white;
}

footer span {
    font-size: 15px;
}

@media (max-width: 420px) {
    .section-1 {
        justify-content: space-between;
    }
    .section-1 span {
        font-size: 20px;
    }

    .btn-buy {
        font-size: 17px;
    }

    .banner-text .b-title {
        font-size: 35px;
    }

    .banner-text .b-description,
    .banner-text .b-commit {
        font-size: 24px;
    }

    .banner img:first-child {
        top: 15px !important;
    }

    #section-2 .s2-title h3 {
        font-size: 25px;
    }
    #section-2 {
        min-height: 495px; /* Đảm bảo không nhỏ hơn 495px nhưng có thể mở rộng */
    }

    #section-3 .s3-info {
        padding: 0 0 0 25px;
    }
    #section-6 .s6-title h2 {
        width: 65%;
    }
    #section-6 .s6-btn-submit {
        margin-bottom: 10px;
    }

    form .d-flex.justify-content-between.align-content-center {
        gap: 10px;
    }
}
